body {
  font-family: OpenSans-Regular;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0a0e34;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  background-image: url("img/football_767.jpg");
}

.header:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.logo-link, .logo-icon {
  width: 133px;
  height: 36px;
}

.main-title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: calc(1.25vw + 24px);
}

.main-title-style {
  margin-top: 4%;
  margin-left: 15%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 8px;
  padding-left: 3.25vw;
  padding-right: 3.25vw;
}

.download-button {
  display: flex;
  justify-content: center;
  width: inherit;
  background-color: #5e42b0;
  color: #ffffff;
  border-radius: 25px;
  height: 36px;
}

.download-button:hover {
  background-color: #ffffff;
  color: #5e42b0;
}

.download-button:hover .apple-icon {
  fill: #5e42b0;
}

.download-button:hover .google-play-icon {
  fill: #5e42b0;
} 

.button-insides {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.download-apple {
  padding-left: calc(-1vw + 1.5em);
}

.download-google-play {
  margin-top: 1.04em;
  padding-right: calc(1vw + 1em)
}

.apple-icon,
.google-play-icon {
  fill: #ffffff;
  width: 25px;
  height: 25px;
}

.button-insides-style__first {
  padding-left: 0.8em;
}

.button-insides-style__second {
  font-family: OpenSans-Bold;
}

.athlets-and-players {
  display: flex;
  flex-wrap: wrap;
}

.athletes-topic, .players-topic {
  position: relative;
}

.athletes-topic:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/footballer_192.png");
  background-repeat: no-repeat;
  background-position: left 55px top 95px;
}

.players-topic:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: left 10px top 100px;
}

.athletes-link, .players-link {
  position: relative;
  z-index: 10;
  color: #e7e7e7; 
}

.athletes-link:hover {
  color: #303b55;
  text-shadow: 1px 1px 1px #000;
}

.players-link:hover {
  color: #900211;
  text-shadow: 1px 1px 1px #000;
}

.athletes-topic-title, .players-topic-title {
  font-size: 50px;
  line-height: 54px;
  margin-top: 15px;
  height: 307px;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.athlets-content, .players-content {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.athlets-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fafafa;
  background-size: cover;
  z-index: -2;
}

.players-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fafafa;
  background-size: cover;
  z-index: -2;
}

.second-list-athlets-content,
.second-list-players-content {
  background-color: #f5f4f9;
}

.third-list-athlets-content {
  background-color: #5e42b0;
}

.third-list-players-content {
  background-color: #090c35;
}

.content-title {
  color: #c1c1c1;
  letter-spacing: 0.05em;
  margin-left: 0.1em;
  margin-bottom: 18px;
}

.collaboration-link,
.connection-link,
.growth-link,
.players-connection-link,
.players-collaboration-link,
.players-growth-link {
  position: relative;
  z-index: 10;
  color: #c1c1c1;
}

.collaboration-link:hover {
  color: #303b55;
  text-shadow: 1px 1px 1px #000;
}

.connection-link:hover {
  color: #303b55;
  text-shadow: 1px 1px 1px #000;
}

.growth-link:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
}

.players-connection-link:hover {
  color: #900211;
  text-shadow: 1px 1px 1px #000;
}

.players-collaboration-link:hover {
  color: #900211;
  text-shadow: 1px 1px 1px #000;
}

.players-growth-link:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
}

.special-content-title {
  padding-top: 27px;
}

.first-number, .first-special-number, .second-special-number {
  vertical-align: super;
  font-size: 14px;
}

.first-number {
  position: relative;
}

.first-number:after {
  position: absolute;
  content: "";
  height: 3.2px;
  background-color: #5e42b0;
  width: 15px;
  left: 2px;
  bottom: -3px;
}

.first-special-number {
  position: relative;
}

.first-special-number:after {
  position: absolute;
  content: "";
  height: 3.2px;
  background-color: #ffffff;
  width: 15px;
  left: 2px;
  bottom: -3px;
}

.second-special-number {
  position: relative;
  color: #8765dd;
}

.second-special-number:after {
  position: absolute;
  content: "";
  height: 3.2px;
  background-color: #ffffff;
  width: 15px;
  left: 2px;
  bottom: -3px;
}

.first-content-link:hover {
  color: #000000;
}

.first-special-content-link:hover {
  color: #ffffff;
}

.special-content {
  color: #ffffff;
}

.more-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  font-size: 0;
}

.post {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

.be-active-link, .find-contact-link, .work-it-link {
  color: #e7e7e7;
  position: relative;
  z-index: 10;
}

.be-active-link:hover {
  color: #5e42b0;
}

.find-contact-link:hover {
  color: #5e42b0;
}

.work-it-link:hover {
  color: #5e42b0;
}

.pic-container {
  max-width: 100vw;
}

.be-active-pic, .find-contact-pic, .work-it-pic {
  width: 100%;
}

.post-number, .post-title, .post-content {
  padding-left: 6.25vw;
  padding-right: 6.25vw; 
}

.post-number {
  position: absolute;
  font-family: OpenSans-Bold;
  font-size: 14px;
  top: 95vw;
  left: 6.5vw;
  bottom: 100vw;
  right: 100vw;
  color: #ffffff;
  background-color: #5e42b0;
  padding-bottom: 3.2em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 3.2em;
}

.post-number:after {
  position: absolute;
  content: "";
  width: 1.2em;
  height: 3px;
  background-color: #8f7bc8;
  left: 27.5px;
  top: 45px;
  border-radius: 20px;
}

.post-title {
  margin-top: 37px;
  font-size: 28px;
  color: #e7e7e7; 
}

.post-content {
  padding-top: 16px;
  padding-bottom: 68px;
  font-size: 16px;
}

.footer {
  background-color: #0a0e34;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  background-image: url("img/game_767.jpg");
}

.footer:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-top: 17.6vh;
  padding-bottom: 1.6vh;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.button-and-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 32.4vh;
}

.buttons-and-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45vh;
  width: 100%;
}

.download-app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 75px;
  background: linear-gradient(to top, #4c3391, #7151ce);
  border-radius: 15px;
}

.download-app-icon {
  width: 56px;
  height: 47px;
}

.download-app-button:hover {
  background: linear-gradient(to bottom, #4c3391, #7151ce);
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-size: calc(6vw + 13px);
  color: #ffffff;
}

.footer-title-style {
  font-size: calc(2vw + 7.6px);
  color: #9b8ec1;
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("img/football_1280.jpg");
  }

  .logo-link, .logo-icon {
    width: 205px;
    height: 59px;
  }

  .main-title {
  	margin-right: 7.7vw;
  	margin-left: 7.7vw;
    font-size: 60px;
  }

  .download-button {
    width: 308px;
    height: 77px;
  }

  .download-google-play {
  	margin-left: 32px;
  }

  .apple-icon, .google-play-icon {
    width: 42px;
    height: 42px;
  }

  .athletes-topic:after {
    background-image: url("img/footballer_497.png");
    background-position: left -150px top 145px;
  }

  .players-topic:after {
    background-image: url("img/basketballer_436.png");
    background-position: right -3px top 125px;
  }

  .athletes-topic-title, .players-topic-title {
    margin-top: 67px;
    font-size: calc(9.4vw - 10.25px);
    height: 125px;
  }

  .athletes-topic-title {
    padding-left: 45vw;
  }

  .players-topic-title {
    padding-right: 45vw;
    padding-left: 4.3vw;
  }

  .content-title {
    font-size: 32px;
  }

  .first-content {
    line-height: 28px;
  }

  .athlets-content {
    padding-left: 45vw;
    padding-right: 4.3vw;
  }

  .players-content {
    padding-right: 45vw;
    padding-left: 4.3vw;
  }

  .post-number, .post-title, .post-content {
    padding-left: 4.3vw;
    padding-right: 10vw;
  }

  .post-title {
    margin-top: 80px;
    font-size: calc(3.1vw + 50px);
  }

  .post-content {
    padding-top: 30px;
    padding-bottom: 94px;
    font-size: 24px;
  }

  .post-number {
    font-size: 24px;
    top: 65vw;
    padding-bottom: 3.2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 3.2em;
  }

  .post-number:after {
    width: 1.2em;
    height: 5px;
    left: 47px;
    top: 78px;
  }

  .footer {
  	background-image: url("img/game_1280.jpg");
  }

  .footer-container {
  	padding-top: 13.5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .button-and-title-container {
  	width: 92%;
  	height: 34.6vh;
  }

  .download-app-button {
    width: 132px;
    height: 138px;
    border-radius: 25px;
  }

  .download-app-icon {
    width: 102px;
    height: 86px;
  }

  .footer-title {
  	font-size: calc(4.7vw + 40.5px);
  }

  .buttons-and-logo-container {
  	width: 85%;
  }

  .buttons-and-logo-container {
	height: 25vh;
}

  .footer-buttons-container {
  	padding: 0;
  }
}


@media (min-width: 961px) {
  .header {
    background-image: url("img/football_1920.jpg");
  }

  .header-container {
    padding-left: 9.5vw;
    padding-right: 9.5vw;
  }

  .logo-link, .logo-icon {
    width: 191px;
    height: 53px;
  }

  .main-title {
    font-size: calc(4.1vw + 10.6px);
  }
  
  .main-title-style {
    align-self: flex-end;
  }

  .buttons-container {
    width: 658px;
    height: 75px;
  }

  .download-button {
    width: 303px;
    height: 75px;
  }

  .download-google-play {
  	margin-left: 50px;
  }

  .apple-icon, .google-play-icon {
    width: 40px;
    height: 45px;
  }

  .main-content {
    position: relative;
  }

  .main-content:after {
    position: absolute;
    content: "";
    background-image: url("img/footballer_566.png");
    background-repeat: no-repeat;
    background-position: right 50vw top 3%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .athletes-topic:after {
    display: none;
  }

  .players-topic:after {
    background-image: url("img/basketballer_991.png");
    background-position: left 39.5vw top 50%; 
  }

  .athlets-content, .players-content {
    padding-bottom: 65px;
  }

  .athlets-content {
    padding-left: 52.2%;
    padding-right: 10.2%;
  }

  .players-content {
    padding-right: 52.2%;
    padding-left: 10.2%;
  }

   .athletes-topic-title, .players-topic-title {
    margin-top: 100px;
    font-size: 80px;
    height: 125px;
  }

  .athletes-topic-title {
    padding-left: 52.2%;
  }

  .players-topic-title {
    padding-left: 10.2%;
  }

  .content-title {
    font-size: 36px;
  }

  .first-content, .special-content {
    font-size: 20px;
  }

  .post {
    flex-direction: row;
  }

  .find-contact {
    flex-direction: row-reverse;
  }

  .pic-container {
    width: 50%;
  }

  .post-container {
  	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-left: 5vw;
  }

  .post-title {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: calc(3.1vw + 15.2px)
  }

  .post-content {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 7vw;
    font-size: calc(1vw + 3.8px);
  }

  .post-number {
    font-size: calc(0.9vw + 9px);
    top: 22%;
    bottom: 73%;
    left: 46.4%;
    right: 46%;
    padding-left: 3.05%;
    padding-right: 1%;
    padding-bottom: 4.8%;
    padding-top: 3%;
  }

  .post-number:after {
    width: 1.1em;
    height: 0.2em;
    left: 39.5%;
    right: 100%;
    top: 65%;
    bottom: 100%;
  }

  .footer {
  	display: flex;
  	justify-content: center;
  	background-image: url("img/game_1920.jpg");
  }

  .footer-container {
  	padding: 29vh 0 5vh;
  }

  .button-and-title-container {
  	height: 14.8vh;
  	flex-direction: row;
  }

  .download-app-button {
  	border-radius: 30px;
  	width: 130px;
  	height: 134px;
  }

  .download-app-icon {
  	width: 101px;
  	height: 85px;
  }

  .footer-title {
  	font-size: 80px;
  	margin-left: 2vw;
  	flex-direction: column;
  }

  .footer-title-style {
  	font-size: 30px;
  }

  .buttons-and-logo-container {
  	height: 20.625vw;
  }
}

@media (min-width: 641px) {
  .download-google-play, .main-title-style, .download-apple {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
    width: 92.8%;
  }

  .buttons-container {
    flex-direction: row;
    font-size: 14px;
  }

  .download-button {
    border-radius: 50px;
  }

  .button-insides-style__first {
    padding-left: 1.8em;
  }

  .main-content {
    padding-left: 0;
    padding-right: 0;
  }

  .athletes-and-players {
    width: 100%;
  }

  .first-list-athlets-content:after {
    background-color: #ffffff;
  }

  .first-list-players-content:after {
    background-color: #ffffff;
  }

  .first-number, .first-special-number, .second-special-number {
    font-size: 18px;
  }

  .first-number:after {
    height: 4px;
    width: 20px;
  }

  .first-special-number:after {
    height: 4px;
    width: 20px;
  }

  .second-special-number:after {
    height: 4px;
    width: 20px;
  }

  .pic-container {
    height: auto;
  }
}

@media (min-width: 641px) and (orientation: portrait) {
  .header,
  .header-container,
  .footer-container {
    min-height: 100vw;
  }

  .button-and-title-container {
  	height: 34.6vw;
  }

  .buttons-and-logo-container {
  	height: 25vw;
  }
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}