body {
  font-family: OpenSans-Regular;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #0a0e34;
  min-height: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  background-image: url("img/football_767.jpg");
 }

.header:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.logo-link {
  width: 133px;
  height: 36px;
}

.main-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold;
  color: #ffffff;
  font-size: calc(1.25vw + 24px);
}

.main-title-style {
  margin-top: 4%;
  margin-left: 15%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 8px;
}

.download-button {
  display: flex;
  justify-content: center;
  width: inherit;
  background-color: #5e42b0;
  color: #ffffff;
  border-radius: 25px;
  height: 36px;
}

.download-button:hover {
  background-color: #ffffff;
  color: #5e42b0;
}

.button-insides {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.download-apple {
  padding-left: calc(-1vw + 1.5em);
}

.download-google-play {
  margin-top: 1.04em;
  padding-right: calc(1vw + 1em);
}

.apple-icon,
.google-play-icon {
  fill: #ffffff;
  width: 25px;
  height: 25px;
}

.button-insides-style__first {
  padding-left: 0.8em;
}

.button-insides-style__second {
  font-family: OpenSans-Bold;
}

@media (max-width: 640px) and (orientation: landscape) {
  .header-container {
	min-height: 100vw;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("img/football_1280.jpg");
  }

  .header-container {
    padding-left: 7.619vw;
    padding-right: 7.619vw;
  }

  .logo-link {
    width: 205px;
    height: 56px;
  }

  .main-title {
    font-size: 60px;
  }

  .download-button {
  	width: 308px;
  	height: 77px;
  }

  .apple-icon, .google-play-icon {
    width: 42px;
    height: 42px;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("img/football_1920.jpg");
  }

  .header-container {
  	min-height: 100vw;
    padding-left: 9.5vw;
    padding-right: 9.5vw;
  }

  .logo-link {
    width: 191px;
    height: 52px;
  }

  .main-title {
    font-size: calc(4.1vw + 10.6px);
  }
  
  .main-title-style {
    align-self: flex-end;
  }

  .buttons-container {
  	width: 658px;
  	height: 75px;
  }

  .download-button {
  	width: 303px;
  	height: 75px;
  }

  .apple-icon, .google-play-icon {
    width: 40px;
    height: 45px;
  }
}

@media (min-width: 961px) and (orientation: portrait) {
  .header {
  	min-height: 100vh;
  }

  .header-container {
  	min-height: 100vh;
  }
}

@media (min-width: 640px) {
  .download-google-play, .main-title-style, .download-apple {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
  	width: 92.8%;
  }

  .buttons-container {
  	flex-direction: row;
  	font-size: 14px;
  }

  .download-button {
  	border-radius: 50px;
  }
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}